@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-100.ttf');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-200.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-300.ttf');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-400.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-500.ttf');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-600.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-700.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-800.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/font-900.ttf');
  font-weight: 900;
  font-style: normal;
}